[submodule "LayoutEditor"]
	path = LayoutEditor
	url = https://github.com/yaturner/LayoutEditor.git
	branch = modular_root_main
[submodule "CoGoTooltips	"]
	path = app/main/src/assets/CoGoTooltips
	url = https://github.com/appdevforall/CodeOnTheGo.git
	branch = stage
