./logsender/src/main/res/values/strings.xml @Documentation
./app/src/main/res/values/strings.xml @Documentation
./resources/src/main/res/values-es-rES/strings.xml @Documentation
./resources/src/main/res/values-zh-rCN/strings.xml @Documentation
./resources/src/main/res/values-bn-rIN/strings.xml @Documentation
./resources/src/main/res/values-de-rDE/strings.xml @Documentation
./resources/src/main/res/values-ru-rRU/strings.xml @Documentation
./resources/src/main/res/values-hi-rIN/strings.xml @Documentation
./resources/src/main/res/values-pt-rBR/strings.xml @Documentation
./resources/src/main/res/values/strings.xml @Documentation
./resources/src/main/res/values-tr-rTR/strings.xml @Documentation
./resources/src/main/res/values-ro-rRO/strings.xml @Documentation
./resources/src/main/res/values-in-rID/strings.xml @Documentation
./resources/src/main/res/values-ar-rSA/strings.xml @Documentation
./resources/src/main/res/values-fr-rFR/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-ru/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-zh-rTW/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-zh-rCN/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-in/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-pt-rBR/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-tr/strings.xml @Documentation
./LayoutEditor/app/src/main/assets/strings.xml @Documentation
