./logsender/src/main/res/values/strings.xml @Documentation
./app/build/intermediates/assets/debug/mergeDebugAssets/strings.xml @Documentation
./app/src/main/res/values/strings.xml @Documentation
./logsender-sample/src/main/res/values/strings.xml @Documentation
./resources/src/main/res/values-es-rES/strings.xml @Documentation
./resources/src/main/res/values-zh-rCN/strings.xml @Documentation
./resources/src/main/res/values-bn-rIN/strings.xml @Documentation
./resources/src/main/res/values-de-rDE/strings.xml @Documentation
./resources/src/main/res/values-ru-rRU/strings.xml @Documentation
./resources/src/main/res/values-hi-rIN/strings.xml @Documentation
./resources/src/main/res/values-pt-rBR/strings.xml @Documentation
./resources/src/main/res/values/strings.xml @Documentation
./resources/src/main/res/values-tr-rTR/strings.xml @Documentation
./resources/src/main/res/values-ro-rRO/strings.xml @Documentation
./resources/src/main/res/values-in-rID/strings.xml @Documentation
./resources/src/main/res/values-ar-rSA/strings.xml @Documentation
./resources/src/main/res/values-fr-rFR/strings.xml @Documentation
./LayoutEditor/app/build/intermediates/assets/debug/mergeDebugAssets/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-ru/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-zh-rTW/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-zh-rCN/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-in/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-pt-rBR/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values/strings.xml @Documentation
./LayoutEditor/app/src/main/res/values-tr/strings.xml @Documentation
./LayoutEditor/app/src/main/assets/strings.xml @Documentation
./gradle-plugin/src/test/resources/sample-project/app/src/main/res/values/strings.xml @Documentation
./gradle-plugin/src/test/resources/sample-project/nested/app/src/main/res/values/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-ro/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-ru/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-zh-rTW/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-it/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-cs/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-zh-rCN/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-in/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-ja/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-el/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-bn-rIN/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-no/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-gu/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-pt-rBR/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-pl/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-vi/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-sk/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-vi-rVN/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-tr/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-ta/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-uk-rUA/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-fa/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-lt/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-fr/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-es/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-hu/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-nl/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-bg/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-hi/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-de/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-az/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-ko/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-ar/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-pt/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-sr/strings.xml @Documentation
./composite-builds/build-deps/appintro/src/main/res/values-yo/strings.xml @Documentation
./testing/resources/sample-project/app/src/main/res/values/strings.xml @Documentation
./testing/resources/test-project/app/src/main/res/values/strings.xml @Documentation
