## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
gnused.pkg-path = "gnused"
findutils.pkg-path = "findutils"
gnugrep.pkg-path = "gnugrep"
# gum.pkg-path = "gum"
# gum.version = "^0.14.5"


## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
on-activate = '''
  # Set up local.properties file
  if ! [ -f "local.properties" ]; then
    echo "Creating local.properties file..."
    echo "sdk.dir=$ANDROID_HOME" > local.properties
  else
    local_props=$(cat "local.properties")
    if ! echo "$local_props" | grep -q "^sdk.dir="; then
      echo "Updating local.properties to add sdk.dir=$ANDROID_HOME..."
      echo "sdk.dir=$ANDROID_HOME" >> local.properties
    else
      echo "Updating local.properties to use sdk.dir=$ANDROID_HOME..."
      sed -i -e "s|sdk.dir=.*|sdk.dir=$ANDROID_HOME|g" local.properties
    fi
  fi

  # Set git-hooks, if required
  if git rev-parse --git-dir >/dev/null 2>&1; then
    hooks_dir="$(git rev-parse --git-common-dir)/hooks"
    mkdir -p "$hooks_dir"
    for hook_name in "pre-commit" "pre-push"; do
      hook="$hooks_dir/$hook_name"
      if ! [ -f "$hook" ] || ! grep -q 'COGO_GIT_HOOK' "$hook"; then
        echo "Updating $hook_name hook..."
        cat >"$hook" <<'EOF'
#!/bin/bash
# -- COGO_GIT_HOOK
exec "$(git rev-parse --show-toplevel)/.githooks/hook" "$(basename "$0")"
EOF
        chmod +x "$hook"
      fi
    done
  fi
'''


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
# common = '''
#   gum style \
#   --foreground 212 --border-foreground 212 --border double \
#   --align center --width 50 --margin "1 2" --padding "2 4" \
#     $INTRO_MESSAGE
# '''
## Shell specific profiles go here:
# bash = ...
# zsh  = ...
# fish = ...


## Services ----------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## -------------------------------------------------------------------
[services]
# myservice.command = "python3 -m http.server"


## Include ----------------------------------------------------------
## ... environments to create a composed environment
## ------------------------------------------------------------------
[include]
environments = [
    { dir = "../base" }
]


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
systems = [
  "aarch64-darwin",
  "aarch64-linux",
  "x86_64-darwin",
  "x86_64-linux",
]
# Uncomment to disable CUDA detection.
# cuda-detection = false
